@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: 15px;
  font-family: poppins, sans-serif;
  background: hsl(0, 0%, 98%);
}
p {
  color: hsl(229, 6%, 66%);
}
header{
  white-space: nowrap;
}
.top-container {
  text-align: center;
}
.top-container h1 {
  font-size: 2rem;
  font-weight: 200;
  color: hsl(229, 6%, 66%);
}
.top-container h2 {
  margin-top: -20px;
  font-size: 2rem;
  color: hsl(234, 12%, 34%);
}
.top-container p {
  font-size: 1.2rem;
  white-space: pre-wrap;
  text-align: center;
}

.col {
  position: relative;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin: 18px auto;
  height: 200px;
  padding: 20px;
  width: 350px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
}
.col img {
  position: absolute;
  padding: 15px;
  right: 0;
  bottom: 0;
}
.col h3 {
  font-size: 1.3rem;
  color: hsl(234, 12%, 34%);
}
.col::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  width: 100%;
}
.col-red::after {
  background-color: hsl(0, 100%, 50%);
}
.col-cyan::after {
  background-color: hsl(180, 100%, 50%);
}
.col-orange::after {
  background-color: hsl(39, 100%, 50%);
}
.col-blue::after {
  background-color: hsl(240, 100%, 50%);
}
@media (min-width: 768px) {
  .box-section {
    display: flex;
    align-items: center;
  }
  .col {
    margin: 18px;
  }
}
